@model InventoryOrder.ViewModel.PurchaseViewModel

<div class="invoice-container">
    <h2>@localizer["Create Purchase"]</h2>

    <form id="create-Purchase-form" method="post" asp-action="Create">
        <div class="Purchase-details">
            <div class="form-group">
                <label for="SupplierID">@localizer["Supplier "]</label>
                @Html.DropDownListFor(m => m.Purchase.SupplierID, ViewBag.Suppliers as SelectList, localizer["Select a Supplier"].ToString(), new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label for="WarehouseID">@localizer["Warehouse "]</label>
                @Html.DropDownListFor(m => m.Purchase.WarehouseID, ViewBag.Warehouses as SelectList, localizer["Select a Warehouse"].ToString(), new { @class = "form-control" })
            </div>
        </div>

        <div id="products-section" class="product-section">
            <h3>@localizer["Product"]</h3>
            <table class="product-table table">
                <thead>
                    <tr>
                        <th>@localizer["Product"]</th>
                        <th>@localizer["Quantity"]</th>
                        <th>@localizer["Price"]</th>
                        <th>@localizer["Total Price"]</th>
                        <th>@localizer["Actions"]</th>
                    </tr>
                </thead>
                <tbody id="product-list">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                            {
                                <p>@error.ErrorMessage</p>
                            }
                        </div>
                    }

                    @for (int i = 0; i < Model.PurchaseDetails.Count; i++)
                    {
                        <tr class="product-item">
                            <td>
                                @Html.DropDownListFor(m => m.PurchaseDetails[i].ProductID,
                                         new SelectList(ViewBag.Products, "Value", "Text"),
                                         localizer["Select a Product"].ToString(),
                                         new { @class = "product-select form-control" })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.PurchaseDetails[i].Quantity, new { @class = "product-quantity form-control", type = "number", min = "1" })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.PurchaseDetails[i].Price, new { @class = "product-price form-control", type = "number", step = "0.01" })
                            </td>
                            <td>
                                <span class="product-total-price">@((Model.PurchaseDetails[i].Price * Model.PurchaseDetails[i].Quantity).ToString("F2"))</span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger delete-product-button" onclick="deleteProduct(event)">@localizer["Delete"]</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <button type="button" id="add-product-button" class="btn btn-primary">@localizer["Add Product"]</button>
            <div id="stock-message" class="alert alert-danger" style="display:none;"></div>
        </div>

        <div class="Purchase-total">
            <label>@localizer["Total Purchase Price"]:</label>
            <span id="total-Purchase-price">@Model.PurchaseDetails.Sum(od => od.Price * od.Quantity).ToString("F2")</span>
        </div>

        <div class="payment-section">
            <h3>@localizer["Payment"]</h3>
            <div class="form-group">
                <label for="TotalPay">@localizer["Amount Paid"]:</label>
                <input name="Purchase.TotalPay" type="number" id="amountPaid" class="form-control" step="0.01" value="0.00" />
                <input type="hidden" asp-for="Purchase.TotalPay" id="TotalPay" />
            </div>
            <div class="form-group">
                <label for="TotalRefund">@localizer["Remaining Balance"]:</label>
                <span id="remainingBalance">0.00</span>
                <input type="hidden" asp-for="Purchase.TotalRefund" id="TotalRefund" />
            </div>
        </div>

        <button type="submit" class="btn btn-success">@localizer["Create Purchase"]</button>
    </form>
</div>

<script id="product-template" type="text/x-handlebars-template">
    <tr class="product-item">
        <td>
    @Html.DropDownList("PurchaseDetails[{{index}}].ProductID",
                         new SelectList(ViewBag.Products, "Value", "Text"),
                         localizer["Select a Product"].ToString(),
                         new { @class = "product-select form-control" })
        </td>
        <td>
            <input type="number" class="product-quantity form-control" name="PurchaseDetails[{{index}}].Quantity" min="1" value="1">
        </td>
        <td>
            <input type="number" class="product-price form-control" name="PurchaseDetails[{{index}}].Price" step="0.01" value="0.00">
        </td>
        <td>
            <span class="product-total-price">0.00</span>
        </td>
        <td>
            <button type="button" class="btn btn-danger delete-product-button" onclick="deleteProduct(event)">@localizer["Delete"]</button>
        </td>
    </tr>
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let productIndex = @Model.PurchaseDetails.Count;

        const addProductButton = document.getElementById("add-product-button");
        const productTemplate = document.getElementById("product-template").innerHTML;
        const productList = document.getElementById("product-list");
        const totalPurchasePrice = document.getElementById("total-Purchase-price");
        const amountPaidInput = document.getElementById("amountPaid");
        const remainingBalance = document.getElementById("remainingBalance");
        const totalPayInput = document.getElementById("TotalPay");
        const totalRefundInput = document.getElementById("TotalRefund");
        const stockMessage = document.getElementById("stock-message");

        addProductButton.addEventListener("click", function () {
            const productHTML = productTemplate.replace(/{{index}}/g, productIndex);
            productList.insertAdjacentHTML('beforeend', productHTML);
            productIndex++;
            updateTotalPurchasePrice();
        });

        productList.addEventListener("input", function (event) {
            if (event.target.classList.contains("product-quantity") || event.target.classList.contains("product-price")) {
                const productItem = event.target.closest(".product-item");
                const quantityInput = productItem.querySelector(".product-quantity");
                const productId = productItem.querySelector(".product-select").value;
                const quantity = quantityInput.value;
                const price = productItem.querySelector(".product-price").value;

               

                const totalPrice = (quantity * price).toFixed(2);
                productItem.querySelector(".product-total-price").textContent = totalPrice;
                updateTotalPurchasePrice();
            }
        });


        function updateTotalPurchasePrice() {
            let total = 0;
            document.querySelectorAll(".product-total-price").forEach(function (el) {
                total += parseFloat(el.textContent);
            });
            totalPurchasePrice.textContent = total.toFixed(2);
            totalPayInput.value = amountPaidInput.value;
            updateRemainingBalance();
        }

        amountPaidInput.addEventListener("input", updateRemainingBalance);

        function updateRemainingBalance() {
            const total = parseFloat(totalPurchasePrice.textContent);
            const amountPaid = parseFloat(amountPaidInput.value) || 0;
            const remaining = total - amountPaid;
            remainingBalance.textContent = remaining.toFixed(2);
            totalRefundInput.value = remaining.toFixed(2);
        }

        window.deleteProduct = function (event) {
            const productItem = event.target.closest(".product-item");
            productItem.remove();
            updateTotalPurchasePrice();
        };
    });

</script>
